name: Generate Badges
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Setup Node
        uses: actions/setup-node@v3
        
      - name: Generate badges
        run: node scripts/generate-badges.js
        
      - name: Commit badges
        run: |
          git config user.name "github"
          git config user.email "github@github.com"
          git add badges/
          git commit -m "Update badges"
          git push